* {
  margin:0px;
  padding:0px;
}

#octocat {
  display: block;
  width:384px;
  margin: 50px auto;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
[dependencies]
static-vcruntime = "0.2" 

[target.aarch64-pc-windows-msvc]
rustflags = ["-C", "link-arg=/NODEFAULTLIB:libcmt"]

[target.x86_64-pc-windows-msvc]
rustflags = ["-C", "link-arg=/NODEFAULTLIB:libcmt"]
